@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IRANYekan;
  font-weight: 700;
  src: url("/fonts/iranyekanwebbold.woff2");
}
@font-face {
  font-family: IRANYekan;
  font-weight: 500;
  src: url("/fonts/iranyekanwebmedium.woff");
}
@font-face {
  font-family: IRANYekan;
  font-weight: 800;
  src: url("/fonts/iranyekanwebextrabold.woff");
}
@font-face {
  font-family: IRANYekan;
  font-weight: 400;
  src: url("/fonts/iranyekanwebregular.woff2");
}

@layer base {
  html,
  body {
    height: 100%;
    font-family: IRANYekan !important;
  }

  body {
    @apply h-fit overflow-y-scroll;
  }
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #c9c9c9;
}

body::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}

.btn {
  @apply h-10 min-h-0 min-w-0 leading-none;
}

.btn-square,
.btn-circle {
  @apply h-10 w-10;
}

.btn-ghost:hover {
  --tw-bg-opacity: 0.1;
}

.input,
.select {
  @apply h-10 min-h-0 min-w-0 text-sm caret-primary;
}
